<%= form_with(model: pendaftaran, local: true) do |form| %>
  <% if pendaftaran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pendaftaran.errors.count, "error") %> prohibited this pendaftaran from being saved:</h2>

      <ul>
        <% pendaftaran.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nama %>
    <%= form.text_field :nama %>
  </div>

  <div class="field">
    <%= form.label :alamat %>
    <%= form.text_field :alamat %>
  </div>

  <div class="field">
    <%= form.label :hobi %>
    <%= form.text_field :hobi %>
  </div>

  <div class="field">
    <%= form.label :no_hp %>
    <%= form.text_field :no_hp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
