<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @pendaftaran.nama %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @pendaftaran.alamat %>
</p>

<p>
  <strong>Hobi:</strong>
  <%= @pendaftaran.hobi %>
</p>

<p>
  <strong>No hp:</strong>
  <%= @pendaftaran.no_hp %>
</p>

<%= link_to 'Edit', edit_pendaftaran_path(@pendaftaran) %> |
<%= link_to 'Back', pendaftarans_path %>
